@charset "UTF-8";

body {
	background-image: url('../../../../../dist/img/login-bg.jpg');
	background-size: cover;
	background-position: center center;
	-ms-overflow-style: none;
  	scrollbar-width: none;
	overflow: hidden;
}

body:before{
	content: '';
	background: inherit;
	-webkit-filter: blur(12px);
	-moz-filter: blur(12px);
	-o-filter: blur(12px);
	-ms-filter: blur(12px);
	filter: blur(12px);
	position: absolute;
	top: -12px;
	left: -12px;
	right: -12px;
	bottom: -12px;
	z-index: -1;
}

body::-webkit-scrollbar,
.privacy-policy-page-link,
.language-switcher {
	display:none;
}

#login h1 a {
	background-image: url('../../../../../dist/favicons/android-chrome-512x512.png');
}

#loginform {
	background-color: rgba( 255,255,255,0.8 );
	border: none;
	box-shadow: none;
	border-radius: 6px;
}

/*
.login #backtoblog a, .login #nav a {
	color: #fff;
}
*/