@charset "utf-8";

/*
settings.css
v5.1.0
Last Updated: 2019-01-10
Author: Yoshiharu Terajima - https://endesign-factory.com
*/

/*------------------------------
	%color-settings
------------------------------*/

// basic
$main-color				: #000000;
$sub-color				: #b69e84;
$accent-color			: #A51D2D;
$deep-color				: #dddddd; // 罫線など
$light-color			: #eeeeee; // 背景色など

// body
$body-color				: #fafafa;
$text-color				: #333333;
$link-color				: #333333;
$link-hover-color		: #666666;
$link-decoration		: underline;

// header
$header-bgcolor			: #ffffff;
$header-bgcolor-top		: transparent; // トップページのヘッダー背景色

// gnav
$gnav-wrap-bgcolor		: #000;
$gnav-textcolor			: #fff;
$gnav-textcolor-hover	: #fff;
$gnav-bgcolor			: #000;
$gnav-bgcolor-hover		: #333;

// title
$title-wrap-bgcolor		: #222;
$title-color			: #fff; // タイトルの文字色

// footer
$footer-bgcolor			: #222;
$footer-textcolor		: #666;

// copyright
$copyright-bgcolor		: $main-color;
$copyright-textcolor	: #666;

// buttons
$button-bgcolor			: $accent-color;
$button-bgcolor-hover	: lighten( $button-bgcolor, 5% );
$button-textcolor		: #ffffff;
$button-textcolor-hover	: #ffffff;

// drawer
$drawer-bg-color		: $main-color;
$drawer-icon-color		: $main-color;
$drawer-icon-color-open	: #fff;


/*------------------------------
	%structure
------------------------------*/

/* common */

$content-width				: 1200px; // PC版の全体コンテンツ幅
$narrow-content-width		: 800px; // PC版の全体コンテンツ幅(.narrow-contents / tableだけなど狭い幅のコンテンツ)
$sp-breakpoint-width		: 767px; // ブレイクポイント
$main-offset				: 70px; // `has-side`の場合のPC版`main`と`aside`の距離
$aside-width				: 300px; // `aside`の幅
$main-width					: $content-width - $aside-width - $main-offset; // aside`の幅から決定された`main`の幅

$content-padding			: 100px; // `contents`のパディング値
$sp-content-padding			: 30px; // sp版`contents`のパディング値
$content-margin-bottom		: 50px; // `contents`のmargin-bottom
$sp-content-margin-bottom	: 20px; // sp版`contents`のmargin-bottom
$block-mb					: 50px; // `block`のmargin-bottom
$sp-block-mb				: 20px; // sp版`block`のmargin-bottom
$part-mb					: 20px; // `part`のmargin-bottom
$sp-part-mb					: 10px; // sp版`part`のmargin-bottom
$text-mb					: 10px; // `text`のmargin-bottom
$sp-text-mb					: 5px; // sp版`text`のmargin-bottom
$pic-mb						: 10px; // `pic`のmargin-bottom
$clm-gap					: 4%; // mod-clm2, mod-clm3 などの隙間

/* header */

$header-height				: 80px; // PC版ヘッダーの高さ
$header-minimal-height		: 50px; // PC版ヘッダーの高さ（スクロール時）
$sp-header-height			: 60px; // SP版ヘッダーの高さ

/* gnav */

$gnav-height				: 60px; // gnavの高さ

/* title */

$title-height				: 300px; // ページタイトルの高さ
$sp-title-height			: 200px; // sp版タイトルの高さ


/* footer */

$footer-padding 			: 50px; // footer の上下パディング
$pc-footer-nav-width		: 40%; // PC版footer-site-navの幅

/*------------------------------
// ボックスモデルの幅
------------------------------*/

$img-width					: 40%; // mod-image-textsのimage-contの幅
$texts-width				: 100% - $img-width - 3%; // mod-image-textsのtexts-contの幅

/*------------------------------
	%mixin-settings
------------------------------*/

// SP版

@mixin sp {
	@media screen and ( max-width: $sp-breakpoint-width ) {
		@content;
	}
}
